.header-container {
    height: em(80px);
    border-block-end: 1px solid $dark-clr-2;

    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-clr;

        .logo {
            font-weight: 1000;
            font-size: em(40px);
            letter-spacing: -5px;
            cursor: pointer;

            .dot {
                color: $accent-clr;
            }
        }

        .searchbar-container {
            display: flex;
            width: 100%;
            height: em(42px);
            margin-inline: em(32px);

            .search-bar {
                font-size: 1rem;
                width: min(100%, em(550px));
                height: 100%;
                padding: 10px 2px 10px 16px;
                border: 1px solid $dark-clr-2;
                outline: 0;
            }

            .btn {
                margin: 0px;
                height: 100%;
                width: em(49px);
            }
        }

        .links-container {
            a {
                padding-inline-end: em(20px);
                font-size: 1rem;
                line-height: em(24px);
                font-weight: 700;
                color: $dark-clr-1;
                transition: 0.2s color;
            }

            a:hover {
                color: $accent-clr;
            }
        }
    }

}