.header-container {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    border-block-end: 1px solid $dark-clr-2;
    background-color: $light-clr;
    transition: background-color 0.6s, border-color 0.6s;

    &.static {
        position: static;
    }

    &.transparent {
        background-color: transparent;
        border: 0;

        .app-header {


            .logo {
                color: $light-clr;
            }

            .searchbar-container {
                display: none;
            }

            .links-container {
                .btn {
                    color: $light-clr;

                    &:hover {
                        color: $light-clr;
                    }

                    &.btn.join {
                        color: $light-clr;
                        background-color: transparent;
                        border-color: $light-clr;

                        &:hover {
                            border-color: transparent;
                            background-color: $accent-clr;
                        }
                    }
                }
            }
        }
    }


    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding-block: 16px;

        .logo {
            @include logo;
        }

        .search-bar-filter-form {
            width: min(100%, 34.375em);
            display: flex;
        }

        .searchbar-container {
            display: flex;
            width: 100%;
            height: em(42px);
            margin-inline: em(32px);

            .search-bar {
                @include search-bar
            }

            .btn {
                margin: 0px;
                height: 100%;
                padding: 8px 16px;
                font-size: 1rem;
                min-width: 55px;
                border-radius: 0 em(5px) em(5px) 0;

                &.search-icon {
                    background-color: $dark-clr1;
                    transition: background-color 0.2s;
                }

                &.search-icon:hover {
                    background-color: $dark-clr;
                }

                &.fa-solid.search-icon::before {
                    font-family: fa-solid;

                }

                &.fa-solid.search-icon::after {
                    content: '\f002';

                }
            }

        }

        .links-container {
            display: flex;
            align-items: center;

            a {
                margin-inline-end: em(24px);
                font-size: 1rem;
                line-height: em(24px);
                font-weight: 700;
                color: $dark-clr-1;
                transition: 0.2s color;

                &:last-child {
                    margin: 0;
                }

                &.btn {

                    &.join {
                        border: 1px solid $accent-clr;
                        @include btn($type: light, $bg-color: $accent-clr, $color: $light-clr);
                        line-height: 1;
                    }
                }

            }

            a:hover {
                color: $accent-clr;
            }

            .user-info {
                display: flex;
                align-items: center;

                .drop-down-btn {
                    display: flex;
                    cursor: pointer;
                    position: relative;

                    .drop-down-menu {
                        top: 140%;
                        right: 0;
                        padding: rem(5px) rem(15px);
                    }

                    .drop-down-item {
                        color: $dark-clr-4;
                        font-weight: 400;
                        letter-spacing: 0.3px;
                        width: rem(100px);
                        padding-block: em(6px);

                        &>* {
                            color: inherit;
                            font-weight: inherit;
                            margin: 0;
                        }

                        &:hover {
                            color: $accent-clr;
                        }
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}