.header-container {
    height: em(80px);
    border-block-end: 1px solid $dark-clr-2;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-clr;

        .logo {
            // font-family: Roboto;
            font-weight: 1000;
            font-size: em(40px);
            letter-spacing: -5px;
            cursor: pointer;

            .dot {
                color: $accent-clr;
            }
        }

        .search-bar-filter-form {
            width: min(100%, 34.375em);
        }

        .searchbar-container {
            display: flex;
            width: 100%;
            height: em(45px);
            margin-inline: em(32px);

            .search-bar {
                @include search-bar
            }

            .btn {
                margin: 0px;
                height: 100%;
                padding: 8px 16px;
                font-size: 1rem;
                min-width: 55px;
                border-radius: 0 em(5px) em(5px) 0;

                &.search-icon {
                    background-color: $dark-clr1;
                    transition: background-color 0.2s;
                }

                &.search-icon:hover {
                    background-color: $dark-clr;
                }

                &.fa-solid.search-icon::before {
                    font-family: fa-solid;

                }

                &.fa-solid.search-icon::after {
                    content: '\f002';

                }
            }

        }

        .links-container {
            a {
                margin-inline-end: 1.25em;
                font-size: 1rem;
                line-height: em(24px);
                font-weight: 700;
                color: $dark-clr-1;
                transition: 0.2s color;

                &.btn {

                    &.join {
                        border: 1px solid $accent-clr;
                        @include btn($type: light, $bg-color: $accent-clr, $color: $light-clr)
                    }
                }

            }

            a:hover {
                color: $accent-clr;
            }
        }
    }

}