.bread-crumbs {
    display: flex;
    align-items: center;
    gap: em(6px);
    font-size: rem(14px);
    letter-spacing: 0.2px;
    margin-block-end: rem(32px);

    .home {
        line-height: rem(13px);
        height: rem(13px);
        width: rem(13px);
    }

    .divider {
        margin-inline: em(8px);
        font-size: em(18px);
        font-weight: 100;
        color: $light-clr5;
    }
}