 .cta-container {
     grid-column: 2;
     grid-row: 2;
     position: sticky;
     top: rem(20px);
     justify-self: end;
     width: em(412px);

     .package-options {
         width: 100%;

         button {
             flex: 1;
             font-weight: 700;
             border: 1px solid $modal-filter-border-clr;
             font-size: 1em;
             background-color: $light-clr3;
             color: $dark-clr-4;
             padding: 1em;

             &.selected {
                 background-color: $light-clr;
                 color: $dark-clr1;
                 border-bottom: 3px solid $dark-clr1;
             }
         }
     }

     .call-to-action {
         border: 1px solid $dark-clr-2;
         padding: em(32px) em(24px);
         margin-block-end: auto;
         background-color: $light-clr;

         .preview-container {
             margin-bottom: em(5px);
             display: grid;
             grid-template-columns: 1fr 1.5fr;
             gap: em(15px);
         }

         .icon {
             width: em(16px);
         }

         .package-heading {
             display: flex;
             align-items: center;
             justify-content: space-between;
             margin-block-end: em(32px);

             .price {
                 font-size: em(20px);
                 font-weight: 200;
                 letter-spacing: em(-1.6px);

                 .price-font {
                     font-size: rem(24px);
                     font-weight: 700;
                 }
             }
         }

         .package {
             font-weight: bold;
             line-height: rem(36px);
             //  text-transform: uppercase;
             //  font-size: rem(18px);
         }

         .package-desc {
             display: grid;
             font-size: 1rem;
             font-weight: 400;
             letter-spacing: em(0.35px);
             color: $dark-clr-1;
             line-height: rem(21px);
         }

         .days-container {
             margin-block: em(10px);
             display: flex;
             align-items: center;
             height: em(24px);
             gap: em(8px);

             h3 {
                 font-size: em(14px);
                 color: $dark-clr-1;
             }
         }

         .feature-list {
             margin-block-end: em(20px);

             .feature-container {
                 display: flex;
                 align-items: center;
                 gap: em(8px);
                 font-size: rem(14px);
                 line-height: em(24px);
                 color: $dark-clr-3;

             }
         }

         .purchase-btn-container {
             display: grid;
             place-items: center;

             span {
                 font-size: em(14px);
                 color: $dark-clr-1
             }
         }

         .continue {
             @include btn;
             position: relative;
             //  display: block;
             text-align: center;
             height: rem(42px);
             width: 100%;
             background-color: black;
             font-size: em(16px);
             font-weight: 700;
             letter-spacing: -0.05em;
             margin-block-end: em(12px);
             border-radius: em(5px);

             display: flex;
             align-items: center;
             justify-content: center;

             .fa-arrow-right {
                 font-size: rem(13px);
                 line-height: 1rem;

                 position: absolute;
                 right: 25px;

             }

             &:hover {
                 background-color: darken($dark-clr-1, 20%);
             }
         }

         .compare {
             text-align: center;

             .compare-link {
                 font-size: em(14px);
                 letter-spacing: em(-0.2px);
             }
         }
     }
 }