.call-to-action {
    position: -webkit-sticky;
    position: sticky;
    top: 12vh;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    width: em(412px);
    border: 1px solid $dark-clr-2;
    padding: em(32px) em(24px);
    margin-block-end: auto;
    background-color: $light-clr;

    .package-options {
        button {
            background-color: $light-clr3;
            color: $dark-clr-4;
            &.selected {
                background-color: $light-clr;
                color: $dark-clr1;
                border-bottom: 3px solid $dark-clr1;
            }
        }
    }

    .icon {
        width: em(16px);
    }

    .package-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: em(32px);

        .package {
            font-weight: 200;
            text-transform: uppercase;
            font-size: rem(18px);
        }

        .price {
            font-size: em(20px);
            font-weight: 200;
            letter-spacing: em(-1.6px);
        }
    }

    .package-desc {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: em(0.35px);
        color: $dark-clr-1;
    }

    .days-container {
        margin-block: em(10px);
        display: flex;
        align-items: center;
        height: em(24px);
        gap: em(8px);

        h3 {
            font-size: em(14px);
            color: $dark-clr-1;
        }
    }

    .feature-list {
        margin-block-end: em(20px);

        .feature-container {
            display: flex;
            align-items: center;
            gap: em(8px);
            font-size: rem(14px);
            line-height: em(24px);
            color: $dark-clr-3;

        }
    }

    .purchase-btn-container {
        display: grid;
        place-items: center;

        span {
            font-size: em(14px);
            color: $dark-clr-1
        }
    }

    .continue {
        @include btn;
        display: block;
        text-align: center;
        height: rem(42px);
        width: 100%;
        background-color: black;
        font-size: em(16px);
        font-weight: 700;
        letter-spacing: -0.05em;
        margin-block-end: em(12px);
        border-radius: em(5px);

        &:hover {
            background-color: darken($dark-clr-1, 20%);
        }
    }

    .compare {
        text-align: center;

        .compare-link {
            font-size: em(14px);
            letter-spacing: em(-0.2px);
        }
    }
}