.dashboard-card {
    display: flex;
    background-color: $light-clr;
    border: 1px solid $accent-clr;
    border-radius: rem(8px);
    padding: rem(16px);
    margin-block: rem(15px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .card-icon{
      width: rem(60px);
      height: rem(60px);
      margin-right: 16px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
  
      .card-title {
        font-size: rem(20px);
        font-weight: bold;
        margin: 0;
      }
  
      .card-amount {
        font-size: 24px;
        margin: 8px 0;
      }
    }
  }
  