.drop-down-btn {
    position: relative;
    margin-inline-start: rem(5px);

    a {
        color: $accent-clr;

        &:hover {
            color: $dark-accent-clr;
        }
    }

    i {
        transition: color 0.2s, transform 0.4s;
        font-size: rem(20px);

        &.open {
            color: $dark-clr-3;
            transform: rotate(-180deg);
        }
    }

    .drop-down-menu {
        top: 140%;
        position: absolute;
        right: em(-6px);
        z-index: 4;
        background-color: $light-clr;
        color: $dark-clr;
        border: em(2px) solid $dark-clr-2;
        padding-inline: em(10px);

        &::before,
        &::after {
            content: '';
            position: absolute;
            right: em(5px);
            width: 0;
            height: 0;
            border-left: em(10px) solid transparent;
            border-right: em(10px) solid transparent;
            clear: both;
            transform: rotateX(180deg);
        }

        &::before {
            border-top: em(10px) solid $dark-clr-2;
            top: em(-10px);
        }

        &::after {
            top: em(-7.5px);
            border-top: em(10px) solid $light-clr;
        }

        &.closed {
            animation-name: short-fade-out;
            animation-duration: 1s;

        }

        .drop-down-item {
            text-align: center;
            transition: background-color 0.2s, color 0.2s;
            font-weight: 700;

            &:first-child {
                border-radius: 6px 6px 0 0;
                padding-block-start: 5px;
            }

            &:last-child {
                border-radius: 0 0 em(6px) em(6px);
                padding-block-end: em(5px);
            }

            &:not(:last-child) {
                border-block-end: 1px solid $dark-clr-2;
            }

            .action {
                display: block;
                padding: em(5px) em(25px);
                font-size: rem(18px);
            }
        }

        .approve-gig {
            &:hover {
                color: $accent-clr;
            }
        }

        .decline-gig {
            &:hover {
                color: $error-clr;
            }
        }

        .fulfilled-gig {
            &:hover {
                color: $fulfilled-clr;
            }
        }
    }
}