.drop-down-btn {
    position: relative;
    margin-inline-start: rem(5px);

    i {
        transition: color 0.2s, transform 0.4s;
        font-size: rem(20px);

        &.open {
            color: $dark-clr-3;
            transform: rotate(-180deg);
        }
    }

    .drop-down-menu {
        animation-name: short-fade-in-down;
        animation-duration: 1s;

        position: absolute;
        right: 0;
        z-index: 2;
        background-color: $light-clr;
        color: $dark-clr;
        border-radius: em(6px);
        box-shadow: em(1px) em(1px) em(10px) lighten($dark-clr-3, 10%);

        &.closed {
            animation-name: short-fade-out;
            animation-duration: 1s;

        }

        .drop-down-item {
            text-align: center;
            transition: background-color 0.2s, color 0.2s;
            font-weight: 700;

            &:first-child {
                border-radius: 6px 6px 0 0;
                padding-block-start: 5px;
            }

            &:last-child {
                border-radius: 0 0 em(6px) em(6px);
                padding-block-end: em(5px);
            }

            &:not(:last-child) {
                border-block-end: 1px solid $dark-clr-3;
            }

            .action {
                display: block;
                padding: em(5px) em(25px);
                font-size: rem(18px);
            }
        }

        .approve-gig {
            &:hover {
                color: $accent-clr;
            }
        }

        .decline-gig {
            &:hover {
                color: $error-clr;
            }
        }

        .fulfilled-gig {
            &:hover {
                color: $fulfilled-clr;
            }
        }
    }
}