.dynamic-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;

    line-height: 22px;
    font-size: 14px;
    border: 1px solid $light-clr2;
    border-radius: 8px;
    background-color: $light-clr;

    z-index: 3;
    transition: .12s;
    box-shadow: 0 18px 12px rgba(0, 0, 0, .14);

    .content-scroll {
        max-height: 14.333rem;
        padding: 24px;
        overflow-y: scroll;
        position: relative;
        top: 0px;
        animation: .5s fadeIn;
        transition: .24s;

        .more-filter-item {
            // border-block-end: 1px solid $modal-underline-clr;
            // padding: 24px 8px;
            padding-block-start: 0;

            .content-title {
                color: $dark-clr1;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                margin-block-end: 8px;
            }
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .flex-container {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            padding-block-end: 1rem;

            .left,
            .right {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 12px;
                    color: $modal-filter-txt-clr;
                    margin-bottom: 4px;
                }

                input {
                    min-height: 36px;
                    min-width: 120px;
                    padding: 8px 12px;
                    border: 1px solid $modal-filter-border-clr;
                    border-radius: 4px;
                    appearance: textfield;
                    color: $dark-clr;
                    transition: border-color 0.35s ease;
                    resize: none;
                    font: inherit;

                    &::-webkit-inner-spin-button,
                    ::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                    &:focus {
                        border: 1px solid $dark-clr1;
                    }

                    &:hover {
                        border: 1px solid $dark-clr1;
                    }
                }
            }
        }
    }

    .input-price-filter {
        display: flex;
        position: relative;
        align-items: center;

        img {
            position: absolute;
            right: 7px;
            height: 14px;
            width: 10px;

        }
    }

    .button-row {
        align-items: center;
        border-block-start: 1px solid $light-clr2;
        box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
        display: flex;
        gap: 16px;
        justify-content: space-between;
        padding: 16px 24px;

        .clear-btn {
            font-size: 1rem;
            font-weight: 600;
            border: none;
            line-height: 24px;
            padding: 0;
            width: max-content;
            background: none;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: 70ms;
            color: $dark-clr-1;

            &:hover {
                color: $modal-hover-clr;
            }
        }

        .apply-btn {
            font-size: 1rem;
            font-weight: 600;
            line-height: 24px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 12px 24px;
            position: relative;
            text-align: center;
            color: $light-clr;
            background-color: #000;

            &:hover {
                background-color: $modal-hover-clr2;
            }
        }
    }

    .radio-list {
        flex-direction: column;
        cursor: pointer;

        .radio-item-wrapper {
            padding: rem(9px);
            font-weight: 600;

            label {
                width: rem(175px);
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                input {
                    margin: 0;
                }
            }

            p {
                margin-inline-start: rem(8px);
                // padding-inline-end: rem(60px);
                font-size: rem(14px);
            }

            &:hover {
                border-radius: 8px;
                background-color: $light-clr3;
            }
        }
    }

    @include for-mobile-layout {
        left: rem(15px) !important;
        width: 92.5% !important;

        .content-scroll {
            .flex-container {
                .input-price-filter {
                    input {
                        min-width: rem(135px);
                    }
                }
            }

        }
    }
}