.gig-index {
    .bread-crumbs {
        margin-block-start: rem(35px);
        margin-bottom: 0;

    }

    .category-header {
        color: $dark-clr;
        font-size: rem(32px);
        font-weight: 700;
        line-height: rem(36px);
        padding: rem(12px) 0 rem(12px) 0;
    }

    .category-sub-header {
        color: $dark-clr-4;
    }

    .top-of-gigs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: rem(17px);

        .number-of-results {
            padding-inline-start: rem(4px);
            line-height: rem(24px);
            font-size: 1rem;
            padding-block: rem(8px);
            letter-spacing: 0.2px;
            color: $dark-clr-4;
        }

        .sort-container {
            .sort-title {
                color: $dark-clr-4;
            }

            .drop-down-btn {
                color: $dark-clr;
                font-weight: 600;
                padding: 10px 8px;
                border-radius: 8px;

                &:hover {
                    background-color: $light-clr1
                }

                .drop-down-menu {
                    padding: rem(6px) (8px);
                    top: rem(45px);
                    right: 0;
                    border-width: rem(1px);
                    border-radius: rem(5px);

                    &::after,
                    &::before {
                        display: none;
                    }

                    .drop-down-item {
                        border: 0;
                        padding: 0;
                        border-radius: rem(5px);

                        &:hover {
                            background-color: #f5f5f5;
                        }

                        span {
                            display: flex;
                            white-space: nowrap;
                            padding-block: rem(10px);
                            padding-inline: rem(10px) rem(55px);
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }

    @include for-mobile-layout {
        .top-of-gigs {
            font-size: rem(13px);
        }
    }

}