.hero {
    position: relative;
    height: rem(770px);
    // max-width: 1501px;

    .hero-img-container {
        position: absolute;
        height: 100%;
        width: 100%;

        .cover-img {
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;
            transition: opacity 1.7s;
            z-index: 100;

            &.visible {
                opacity: 1;
            }
        }
    }

}