.hero {
    position: relative;
    height: rem(770px);

    .hero-cover {
        width: em(650px);
        height: 100%;
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        .hero-heading {
            font-size: em(48px);
            color: $light-clr;

            span {
                font-family: Domaine;
            }
        }

        .search-bar-filter-form {
            display: flex;
            height: em(48px);

            &>* {
                width: 100%;
                height: 100%;
            }

            .search-bar {
                @include search-bar
            }

            .btn {
                width: em(66px);
                font-size: 1rem;

                @include btn($bg-color: $accent-clr, $color: $light-clr);
                border-radius: 0 em(5px) em(5px) 0;

                &:hover {
                    background-color: darken($accent-clr, 4%);
                }

                &::before {
                    font-family: fa-solid;
                }

                &::after {
                    content: '\f002';
                }
            }
        }
    }

    .hero-img-container {
        position: absolute;
        height: 100%;
        width: 100%;

        .cover-img {
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;
            transition: opacity 1s;
            transition-timing-function: ease;
            z-index: 2;

            &.visible {
                opacity: 1;
            }
        }
    }


    @include for-mobile-layout {
        height: rem(420px);

        .hero-img-container {
            .cover-img {
                background: $hero-color-1 !important;
            }
        }

        .hero-cover {
            width: auto;

            .hero-heading {
                font-size: rem(32px);
                max-width: 95%;
            }

            .search-bar-container {
                .search-bar-filter-form {
                    max-width: 95%;

                    .search-bar {
                        font-size: rem(13px);
                    }
                }
            }

            .popular {
                display: none;
            }
        }
    }

    @include for-small-layout {
        .hero-cover {
            width: auto;

            .hero-heading {
                font-size: rem(32px);
                max-width: 95%;
            }

            .search-bar-container {
                .search-bar-filter-form {
                    max-width: 95%;

                    .search-bar {
                        font-size: rem(13px);
                    }
                }
            }

            .popular {
                display: none;
            }
        }
    }

    @include for-narrow-layout {
        .hero-cover {
            width: em(650px);

            .hero-heading {
                font-size: em(48px);
                max-width: auto;
            }

            .search-bar-container {
                .search-bar-filter-form {
                    max-width: auto;

                    .search-bar {
                        font-size: 1rem;
                    }
                }
            }

            .popular {
                display: flex;
            }
        }
    }

}