.modal-content {
    .cover-img {
        position: relative;
        width: em(437.5px);
        height: em(645px);
        border-radius: em(15px) 0 0 em(15px);
    }

    .benefits-container {
        position: absolute;
        padding: 3.75em 2.5em 2em;
        color: $light-clr;

        h2 {
            margin-block-end: em(24px);
            font-size: rem(32px);
            font-weight: 700;
        }

        li {
            display: flex;
            width: 80%;
            gap: em(7px);
            margin-block-end: rem(16px);
            font-size: rem(18px);
            line-height: 100%;

            i {
                font-size: rem(14px);
            }
        }
    }

    .user-actions {
        width: em(437.5px);
        height: em(645px);
        background-color: $light-clr;
        border-radius: 0 em(15px) em(15px) 0;
        display: flex;
        flex-direction: column;
        padding: em(60px) em(40px) em(32px);
        font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;

        .login-signup-heading {
            color: $dark-clr;
            font-size: rem(26px);
            line-height: 130%;
            font-weight: 700;
            margin-block-end: em(12px);
        }

        .change-action-heading {
            color: $dark-clr-1;
            font-size: em(16px);
            margin-block-end: em(32px);


        }

        .terms {
            color: $dark-clr-1;
            font-size: rem(12px);
            margin-block-start: auto;

            .link {
                font-size: inherit;
                font-weight: inherit;
                margin: 0;
                text-decoration: underline;
                color: $dark-clr-1;
            }
        }

        .sign-in-select {
            height: em(40px);
            width: 100%;
            border: em(1px) solid $dark-clr;
            color: $dark-clr;
            outline: 0;
            font-size: 1rem;
            border-radius: em(5px);
            margin-bottom: em(32px);
            font-weight: 600;
        }

        .user-info-label {
            font-size: 16px;
            font-weight: 600;

            .user-info-input {
                width: 100%;
                height: em(42px);
                border: 1px solid $dark-clr-1;
                outline: 0;
                font-size: 1rem;
                padding: em(8px) em(12px);
                border-radius: em(4px);
                margin-block-start: em(5px);
                margin-block-end: em(24px);

                &:focus,
                &:focus-visible {
                    outline: 0;
                    box-shadow: 1px 1px 8px $dark-clr-2;
                }
            }
        }

        .upload-preview {
            padding-block: rem(15px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-info-label {
                display: flex;
                gap: 5px;
                align-items: center;
            }

            #imgUpload {
                display: none;
            }
        }

        .btn.continue {
            width: 100%;
            height: 42px;
            font-size: 1rem;
            font-weight: 600;
            font-family: inherit;
            background-color: black;
            margin-bottom: rem(14px);

            &.disabled {
                cursor: not-allowed;
            }

            &:hover,
            &:active {
                background-color: $dark-clr;
            }
        }

    }

    @include for-mobile-layout {
        width: rem(365px);
        border-radius: rem(15px);

        .cover-img {
            display: none;
        }

        .benefits-container {
            display: none;
        }

        .user-actions {
            border-radius: rem(14px);
        }
    }

}