.modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .65);
    z-index: 200;

    .modal-content {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        border-radius: em(15px);

        .cover-img {
            width: em(437.5px);
            height: em(645px);
            border-radius: em(15px) 0 0 em(15px);
        }

        .user-actions {
            width: em(437.5px);
            height: em(645px);
            background-color: $light-clr;
            border-radius: 0 em(15px) em(15px) 0;
        }
    }
}