.gigs-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $smooth-light-clr;
    background-color: #f5f5f5;

    th {
        text-align: left;
        background-color: $light-clr;
        color: $co-clr;
        padding: 10px;
        text-align: left;
    }

    tr {
        background-color: $light-clr;
        transition: background-color .3s;
        border-block: 1px solid $modal-filter-border-clr;
        cursor: pointer;

        &:hover {
            background-color: $user-bgclr
        }
    }

    td {
        align-items: center;
        padding: 10px;
    }

    td:first-child {
        padding-inline-start: 20px;
    }

    td:first-child img {
        min-width: 35px;
        max-width: 100px;
        max-height: 100px;
        border: 1px solid $smooth-light-clr;
    }

    td:last-child {
        padding-right: 20px;
    }

    td:nth-child(5) {
        align-items: center;
    }

    .icon {
        margin-right: 5px;
        font-size: 18px;
        color: $fulfilled-clr;
    }

    .action {
        &:hover {
            color: $error-clr;
        }

        &:not(:last-child) {
            margin-inline-end: rem(12px);

            &:hover {
                color: $fulfilled-clr;
            }
        }

        &:last-child {
            &:hover {
                animation: 2s swing infinite
            }
        }
    }
    
    tr:hover {
        background-color: #ddd;
    }

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        text-align: center;
        margin: auto;

        thead {
            display: none;
        }

        tr,
        td {
            padding: rem(7px);
            display: block;

            .desc-data {
                display: none;
            }
        }

    }

}