.order-list {
    width: 50vw;
    border-collapse: collapse;

    thead {
        background-color: $light-clr;
        text-transform: uppercase;

        td {
            color: $co-clr;
            padding: 10px;
        }
    }

    tbody {
        tr {
            background-color: $light-clr;
            transition: background-color .3s;
            border-block: 1px solid $modal-filter-border-clr;
            cursor: pointer;

            &:hover {
                background-color: $user-bgclr
            }
        }

        td {
            padding: 15px;

            &.status {
                display: flex;
                min-height: em(80px);
                align-items: center;
                gap: 0.5vw;
                justify-content: space-between;
                letter-spacing: 0.2px;
            }

            &:not(:first-child):not(:last-child) {
                color: $co-clr;
            }

            .user-with-img {
                display: flex;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-inline-end: 10px;
                }
            }

        }

    }
}