.user-orders {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
        text-transform: uppercase;
        font-size: rem(30px);
        margin-block: rem(30px);
    }

    button {
        background: none;
        color: $dark-clr;
        border: 1px solid $dark-clr;
        border-radius: 8px;
        margin-inline: rem(5px);
        max-height: rem(36px);
        font-size: rem(16px);

        &.active {
            border: 1.5px solid $dark-clr;
        }
    }
}


.buyer-orders-container {
    background-color: $light-clr1;

    .buyer-orders {
        .order-card-container {
            overflow: hidden;
            flex-direction: column;
            // height: rem(380px);
            padding: rem(30px);
            margin-block-end: rem(5px);
            background-color: $light-clr;

            &:last-child {
                // margin-block-end: rem(50px);
            }

            .order-info {
                padding-block-end: rem(15px);
                border-bottom: 1px solid $modal-filter-border-clr;

                .card-header {
                    text-transform: uppercase;
                    font-size: rem(15px);
                    color: $dark-clr-4;
                }

                .status {
                    font-weight: 700;
                    font-size: rem(18px);
                    text-transform: uppercase;
                    letter-spacing: rem(.5px);
                    color: $dark-clr;

                    gap: rem(5px);
                    align-items: center;
                    margin-block-start: rem(8px);
                    margin-block-end: rem(4px);

                    &.pending {
                        color: $pending-clr;
                    }

                    &.approved {
                        color: $dark-accent-clr;
                    }

                    &.rejected {
                        color: $error-clr;
                    }

                    &.fulfilled {
                        .question {
                            display: none;
                        }
                    }

                    .question {
                        font-size: rem(14px);
                    }

                }

                .sec-line {
                    margin-block-end: rem(10px);
                }

                .date {
                    font-size: rem(13px);
                    color: $dark-clr-3;
                    margin-block-start: rem(8px);
                }

                .progress-bar {
                    width: 100%;
                    background-color: $smooth-light-clr;
                    height: rem(12px);
                    border-radius: 10px;
                    overflow: hidden;
                    margin-block-start: rem(8px);
                }

                .progress {
                    width: 0;
                    height: 100%;
                    background-color: $dark-accent-clr;
                    transition: width 0.3s ease-in-out;
                }

                #progressInput {
                    display: none;
                }
            }

            .gig {
                gap: rem(10px);
                padding-block-end: rem(15px);
                border-bottom: 1px solid $modal-filter-border-clr;
                margin-block-start: rem(16px);

                .gig-img {
                    cursor: pointer;
                    width: 30%;
                    max-width: rem(140px);

                    img {
                        max-width: rem(140px);
                        height: rem(90px);
                    }
                }

                .gig-info {
                    color: $trusted-by-clr;

                    .gig-title {
                        color: $modal-hover-clr2;
                    }

                    &>*:not(:last-child) {
                        margin-block-end: rem(10px);
                    }
                }
            }

            .order-data {
                display: grid;
                grid-template-columns: 1fr 1fr;
                min-height: rem(92px);
                margin-block-start: rem(12px);

                .btn-review {
                    grid-column: 2;
                    grid-row: 1;
                    justify-content: end;
                    
                    &>* {
                        color: $light-clr !important;
                        background-color: $dark-accent-clr !important;
                        width: rem(128px);
                    }
                }
                
                .btn-order {
                    grid-column: 2;
                    grid-row: 2;
                    justify-content: end;

                    &>* {
                        width: rem(128px);
                    }
                }


                .order {
                    grid-column: 1;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: rem(14px);
                    margin-block-end: rem(20px);
                    color: $dark-clr-4;

                    h3 {
                        width: rem(130px);
                    }

                    .answer {
                        font-size: rem(16px);
                        font-weight: 400;
                        margin-inline-start: rem(12px);
                        text-transform: none;
                        color: $dark-clr-4;

                        .delivery-icon {
                            margin-inline-end: rem(1px);
                        }
                    }
                }

                .btn {
                    grid-column: 2;
                    justify-self: end;
                    align-self: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-weight: 700;
                    text-transform: uppercase;
                    color: $dark-accent-clr;
                    background: none;

                    padding: rem(12px);
                    border: 2px solid $modal-filter-border-clr;
                    // width: 60%;
                    height: 80%;
                    max-height: rem(37px);
                    transition: .4s;

                    &:hover {
                        border-color: $dark-accent-clr;
                    }
                }
            }
        }
    }

    @include for-mobile-layout {
        .buyer-orders {
            .orders-layout {
                .order-card-container {
                    img {
                        object-fit: cover;
                    }

                    .order-data {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        
                        .order {
                            justify-content: space-between;
                            margin-block-end: rem(12px);
                            h3 {
                                font-size: 13px;
                                width: rem(120px);
                            }

                            span.answer {
                                font-size: 13px;
                                margin: 0;
                            }
                        }

                        .btn-review {
                            grid-column: 1;
                            grid-row: 3;
                            justify-content: center;

                            &>* {
                                flex-grow: 1;
                                width: rem(128px);
                                color: $light-clr !important;
                                background-color: $dark-accent-clr !important;
                            }
                        }
                        
                        .btn-order {
                            grid-column: 1;
                            grid-row: 4;
                            justify-content: center;
                            margin-block-start: rem(12px);
        
                            &>* {
                                flex-grow: 1;
                                width: rem(128px);
                            }
                        }
        
                        .btn {
                            padding-block:rem(25px) ;
                        }
                        
                    }
                }
            }
        }
    }
}