.order-list {
    border-collapse: collapse;
    border: 1px solid $modal-filter-border-clr;
    width: 100%;

    &.buyer {
        td {
            &.order-status {
                // padding: rem(10px);
                // text-align: center;
            }
        }
    }

    thead {
        background-color: $light-clr;
        text-transform: uppercase;

        td {
            color: $co-clr;
            padding: 10px;
            padding-inline-start: 20px;
        }

    }

    tbody {
        tr {
            background-color: $light-clr;
            transition: background-color .3s;
            border-block: 1px solid $modal-filter-border-clr;
            cursor: pointer;

            &:hover {
                background-color: $user-bgclr
            }

        }

        td {
            padding: 0 rem(20px);

            &.status {
                display: flex;
                min-height: em(80px);
                align-items: center;
                gap: rem(5px);
                justify-content: space-between;
                letter-spacing: 0.2px;
            }

            &:not(:first-child):not(:last-child) {
                color: $co-clr;
            }

            .user-with-img {
                display: flex;
                align-items: center;

                img {
                    width: rem(30px);
                    height: rem(30px);
                    border-radius: 50%;
                    margin-inline-end: 10px;
                }
            }

            &.status.buyer {
                flex-direction: column;
                justify-content: space-evenly;

                .review-btn {
                    border: 1px solid $dark-accent-clr;
                    &:hover {
                        background-color: $accent-clr;
                        a {
                            color: $light-clr;
                        }
                    }
                    
                    a {
                        color:$dark-accent-clr;
                    }
                }
            }


        }

        .order-title {
            .gig-img {
                gap: rem(5px);
                align-items: center;

                img {
                    width: rem(50px);
                }
            }
        }

    }

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        margin: auto;

        thead {
            display: none;
        }

        tr,
        td {
            padding: rem(7px);
            display: block;
        }

    }
}

.no-orders-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: rem(35px);

    img {
        width: rem(200px);
    }
}