.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-block-start: rem(47px);
    justify-content: center;
    align-items: center;

    .pagination-arrows {    
        cursor: pointer;
        padding: 5px;
        margin: 0 10px;
        font-size: 20px;
        transition: color 0.3s;
    }

    .page-number {
        cursor: pointer;
        color: $dark-clr-4;
        font-weight: 600;
        line-height: 24px;
        padding: 5px 10px;
        font-size: rem(20px);

        &:hover {
            color: $dark-clr1;
        }

        &.active {
            color: $dark-clr1;
        }
    }
}
