.review-chart {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: em(32px);

    .review-header {
        margin-bottom: em(13px);

        h4 {
            padding-right: em(12px);
        }
    }

    .review-bars-container {
        align-items: center;
        display: grid;
        grid-template-columns: 4.0625em 1fr 3em;
        width: 100%;

        .review-rate-bar {
            background-color: $light-clr2;
            border-radius: 100px;
            height: .5em;
            position: relative;
            width: 96%;

            span {
                background: $dark-clr1;
                border-radius: 100px;
                height: 100%;
                position: absolute;
            }
        }

        .star-number {
            font-weight: 600;
        }
    }
}