.stars{
    display: flex;
    gap: 4px;
    align-items: center;
    // justify-content: center;
    .star{
        height: rem(15px);
        width: rem(15px);
    }
    .rate.padding{
        line-height: em(21px);
        font-size: rem(14px);
    }
}