.selling-text {
    padding: 0;

    li {
        padding-block-end: 24px;
    }
    
    span {
        display: flex;
        text-align: left;
        align-items: center;
        padding-block-end: 8px;
    }

    img {
        width: 24px;
        margin-inline-end: 10px;
    }

    h6 {
        font-size: 18px;
        line-height: 140%;
        font-weight: 700;
        color: $dark-clr;
    }

    .txt {
        max-width: 471px;
        max-height: 52px;

        p {
            font-size: 18px;
            line-height: 26px;
            display: block;
            color: $dark-clr-1;
        }
    }
}