@import url(slick-carousel/slick/slick.css);
@import url(slick-carousel/slick/slick-theme.css);

.slider-home {
    margin-block-end: rem(96px);
    .slick-slide > div {
        margin: 0 em(10px);
      }
      .slick-list {
        margin: 0 em(-10px);
      }
}
   