.trusted-by-container {
    background-color: $trusted-by-bg-clr;

    .trusted-by {
        display: flex;
        justify-content: center;
        align-items: center;
        height: em(95px);

        span {
            font-size: 1rem;
            font-weight: 700;
            color: $trusted-by-clr;
        }

        ul {
            display: flex;
            gap: 60px;

            img {
                height: 60px;
                width: auto;
            }
        }
    }

    @include for-mobile-layout {
        .trusted-by {
            gap: 0;

            span {
                display: none;
            }

            .trusted-by-companies {
                gap: rem(15px);

                img {
                    height: rem(45px);
                }
            }
        }
    }

    @include for-small-layout {
        .trusted-by {
            gap: rem(15px);

            span {
                white-space: nowrap;
                display: unset;
            }

            .trusted-by-companies {
                gap: 1.375rem;
            }

        }
    }

    @include for-narrow-layout {
        .trusted-by {
            gap: em(60px);
        }
    }

}