.user-msg {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $light-clr;
    color: $dark-clr;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: em(12px);
    box-shadow: em(1px) em(1px) em(15px) $shadow-clr;
    max-width: 70vw;
    height: em(42px);
    font-size: rem(18px);
    padding: em(9px) em(16px);
    font-weight: 700;
    border-radius: 7px;
    animation: fade-in-down 1s ease-in-out;

    .btn.close {
        color: lighten($dark-clr-1, 15%);
        font-size: rem(13px);
        margin-inline-start: auto;

        &:hover {
            color: $dark-clr;
        }
    }
}



.user-msg.success {
    border-inline-start: 7px solid $accent-clr;

    .check-icon {
        color: $accent-clr;
    }
}

.user-msg.error {
    border-inline-start: 7px solid $error-clr;

    .x-icon {
        color: $error-clr;
    }
}