.user-mini-detail{
    .owner-img-wrapper{
        gap: 8px;
        margin-bottom: em(19px);
    }
    .mini{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-me{
        border-radius: 4px;
        color: #62646a;
        background-color: white;
        border: 1px solid #62646a;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        margin: 20px 0px;
        padding: 12px 24px;
        &:hover{
            background: #74767e;
            color: white;
            border-color: transparent;
        }
    }
    .owner-description{
        border: 1px solid #e4e5e7;
        border-radius: .1875em;
        margin-bottom: 2.25em;
        padding: 1.5em;
        ul{
            border-bottom: 1px solid #e4e5e7;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 0 1.25em;
            li{
                padding-bottom: 1em;
                width: 50%;
            }
        }
        span{
            display: block;
            line-height: 25.6px;
        }
        span:nth-child(2n) {
           font-weight: 700;
        }
    }
}