* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $dark-clr;
    overflow-x: hidden;
}

body {
    margin: 0;
    accent-color: $accent-clr;
}

main.main-layout {
    min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section,
main,
footer {
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    color: $dark-clr;
    text-decoration: none;
    cursor: pointer;
}

.star {
    width: 1em;
}

// a:hover {}

a:visited {
    color: $dark-clr;
}

::selection {
    background: $selections-clr;
    color: $light-clr;
}

.owner-profile-img {
    @include owner-profile-img;

    &-meduim {
        @include owner-profile-img($type: meduim);
    }

    &-large {
        @include owner-profile-img($type: large);
    }
}

.gallry-btn {
    @include gallry-btn;

    &-next {
        @include gallry-btn($type: next);
    }

    &-prev {
        @include gallry-btn($type: prev);
    }
}