// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

//Design helpers
.with-border-top {
    border-top: 1px solid $modal-filter-border-clr
}

.empty {
    color: $list-subtitle-clr;
    font-size: 14px;
}

.questionmark {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.underline {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.bigger {
    font-size: rem(20.8px);
}

.pending {
    color: $pending-clr
}

.approved {
    color: $accent-clr
}

.rejected {
    color: $error-clr
}

.fulfilled {
    color: $fulfilled-clr
}

.pending-label {
    background-color: $pending-clr;
}

.approved-label {
    background-color: $approved-clr;
}

.rejected-label {
    background-color: $rejected-clr;
}

.fulfilled-label {
    background-color: $fulfilled-clr;
}

.label {
    text-align: center;
    color: $light-clr;
    padding: rem(2px) rem(5px);
    border-radius: rem(8px);
    white-space: nowrap;
    min-width: rem(100px);
}

.btn {
    cursor: pointer;
}

.click {
    cursor: pointer;
    &:hover {
        color: $dark-clr-3;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}