.main-layout {
    display: grid;
    grid-template-columns: minmax(12px, 1fr) minmax(auto, $xs-mobile-breakpoint) minmax(12px, 1fr);

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
    }

    @include for-mobile-layout {
        grid-template-columns: minmax(15px, 1fr) minmax(auto, $mobile-breakpoint) minmax(15px, 1fr);

    }

    @include for-small-layout {
        grid-template-columns: minmax(32px, 1fr) minmax(auto, 1360px) minmax(32px, 1fr);
    }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    // }


    // .card-grid {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    //     grid-gap: 20px;
    // }

}

.dashboard-layout {
    display: grid;
    grid-template-columns: rem(250px) 2fr rem(250px) ;
}

.gigs-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    grid-gap: em(32px);
}

.user-layout {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    // grid-gap: em(28px);

    @include for-extraNarrow-layout {
        grid-template-columns: minmax(260px, 1fr) minmax(260px, 1fr);
        grid-gap: em(26px);
    }

    @include for-large-layout {
        grid-template-columns: minmax(200px, 1fr)minmax(200px, 1fr) minmax(200px, 1fr);
        grid-gap: em(28px);
    }

}