.add-gig {
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-block-start: 3.125rem;
    margin-block-end: rem(40px);
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;

    .section-heading {
        grid-column: 1/-1;
        display: grid;
        gap: rem(15px);
        margin-block-end: rem(20px);
    }

    .heading {
        color: $accent-clr;
        font-size: 2.5rem;
        font-weight: bolder;

        &:not(:first-child) {
            margin-block-start: rem(8px);
        }
    }

    .sub-heading {
        font-size: 1.5rem;
        color: $dark-clr-4;
        font-weight: 400;
        margin-block-end: rem(20px);
    }

    .create-gig {

        &>* {
            min-width: 100%;
        }

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: em(12px);
        margin-block-end: em(25px);


        .numbers {
            .form-label {
                align-items: center;

                .days-input,
                .price-input {
                    display: flex;
                    align-items: center;
                }

                .delivery-icon {
                    margin: em(5px);
                    color: $dark-clr-3;
                }
            }
        }

        .MuiFormControl-root {
            margin: 0;
            min-width: 100%;
            max-width: 100%;

            .MuiChip-root {
                background-color: $accent-clr;
                color: $light-clr;
            }

            .MuiInputBase-root {
                width: 100%;

                .MuiOutlinedInput-notchedOutline {
                    border: em(2px) solid lighten($dark-clr-3, 20%);
                }

                &.Mui-focused {
                    .MuiOutlinedInput-notchedOutline {
                        border: em(2px) solid lighten($dark-clr-3, 10%);
                    }
                }
            }

        }


        .package-options {
            width: 100%;
            margin-bottom: 2rem;

            button {
                flex: 1;
                font-weight: 700;
                border: 1px solid $modal-filter-border-clr;
                font-size: 1em;
                background-color: $light-clr3;
                color: $dark-clr-4;
                padding: 1em;

                &.selected {
                    background-color: $light-clr;
                    color: $dark-clr1;
                    border-bottom: 3px solid $dark-clr1;
                }
            }
        }

        .form-label {
            min-width: 100%;
            font-size: 1.3rem;
            font-weight: 700;
            display: flex;
            gap: 1.3125rem;
            color: $dark-clr;
            // margin-bottom: rem(12px);
            justify-content: space-between;

            &>*:first-child {
                flex-basis: 13rem;
                display: flex;
                flex-direction: column;

                .sub-title {
                    font-size: rem(14px);
                    font-weight: 400;
                    color: $dark-clr-3;
                }
            }

            &>*:last-child {
                flex: 1;
            }

            &.price,
            &.days-to-make {
                min-width: unset;
            }

            &.imgs {
                // margin-block: 15px 25px;
                // width: 80%;


                .upload-preview {
                    background-color: $light-clr2;
                    border-radius: em(5px);



                    img {
                        width: rem(25px);
                        height: rem(25px);

                        &.img-preview {
                            display: none;
                        }

                        .loading-img {
                            margin-block-start: rem(15px);
                            margin-inline-start: rem(15px);
                        }
                    }

                    .user-info-label {
                        display: flex;
                        align-items: center;
                        gap: rem(15px);
                        padding: rem(10px);

                        .cloud-icon {
                            font-size: rem(40px);
                        }

                    }

                    input {
                        border: 0;
                        display: none;
                    }
                }
            }

            .price-input {
                &::before {
                    margin-inline: rem(6.5px);
                    content: '$';
                    color: $dark-clr-3;
                }
            }


            .input-field {
                font-size: 1.1rem;
                padding: em(7px);
                border: em(2px) solid lighten($dark-clr-3, 20%);
                border-radius: em(5px);
                font-family: inherit;

                &:focus-visible {
                    border: em(2px) solid lighten($dark-clr-3, 10%);
                    outline: 0;
                }

                &.title {
                    font-weight: 700;
                }

                &.desc {
                    height: 14.1875rem;
                    resize: none;
                    color: $dark-clr-1;
                }
            }
        }


        .build-packs {
            display: grid;
            gap: rem(12px);
            background-color: #f0f0f091;
            border: 1px solid #c8c8c85e;
            padding: rem(18px);
            border-radius: rem(4px);
            margin-block: rem(25px);

            .heading {
                font-size: rem(28px);
            }

            .sub-heading {
                font-size: 1rem;
            }

            .numbers {
                justify-content: space-around;

                span {
                    flex-direction: row;
                }
            }

            .form-label {
                align-items: center;
                gap: 1rem;

                &.package-details {
                    margin-block-end: rem(18px);
                }
            }

            .add-features {
                display: grid;
                gap: rem(6px);


                .features-container {
                    // justify-content: space-between;
                    flex-wrap: wrap;
                    column-gap: rem(10px);
                    row-gap: rem(10px);

                    .feature {
                        display: flex;
                        gap: rem(2px);
                        position: relative;

                        img {
                            width: rem(16px);
                            position: absolute;
                            top: 26%;
                            right: rem(5px);
                            opacity: 0.2;
                            pointer-events: none;
                        }

                        input {
                            font-size: rem(14.5px);
                            padding: rem(9px) rem(28px);
                            // padding-inline-start: 12px;
                            color: $dark-clr-4;
                            border: 0;
                        }
                    }
                }

            }
        }

        .send {
            width: 100%;
            // min-width: 80%;
            font-size: 1.3rem;
            background-color: $dark-clr;
            margin-block-start: rem(10px);
            font-weight: 700;
            letter-spacing: em(-0.4px);
            padding: em(13px);
            border-radius: em(3px);
            transition: background-color 0.3s;

            &:hover {
                background-color: $accent-clr;
            }
        }
    }

    .big-gig-preview {
        box-shadow: rem(2px) rem(2px) rem(15px) #00000050;
        display: grid;
        gap: rem(15px);
        font-size: rem(12px);
        min-width: 320px;

        position: sticky;
        height: fit-content;
        justify-self: end;
        border: 0.125em solid #e5e5e7;
        padding: 0.875em 1.5em;
        width: 100%;
        flex-direction: row;
        bottom: em(8px);
        right: em(10px);
        z-index: 2;
        background-color: $light-clr;


        .preview-heading {
            display: none;
            color: $dark-clr-4;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: em(-1px);
        }

        img {
            place-self: center;
            width: 40%;
            object-fit: cover;
            max-height: rem(300px);
            border-radius: rem(5px);
        }

        .gig-heading {
            font-size: 1.1625rem;
            color: $dark-clr;
            margin-block-end: em(8px);
            overflow-wrap: break-word;
            word-wrap: break-word;

            &.placeholder {
                color: $dark-clr-3;
            }
        }

        .gig-preview-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: em(10px);
            max-width: 100%;

            &>* {
                min-width: 0;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }

            .description {
                display: none;
                font-weight: 400;
                margin-block-end: rem(10px);

                &.placeholder {
                    color: $dark-clr-3;
                }
            }

            .detail-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    display: none;
                    font-weight: 700;
                    font-size: 1.3rem;
                }

                .gig-price,
                .estimated {
                    font-size: rem(19px);
                    color: $dark-clr-1;
                    font-weight: 100;
                }



            }

            .tags {
                display: none;
            }
        }
    }


    @include for-small-layout {
        margin-top: 3.125rem;
        padding-inline: 0;

        .create-gig {
            .package-options {
                margin-bottom: 2rem;
            }
        }

        .big-gig-preview {
            place-self: center;
            font-size: rem(20px);


            .preview-heading {
                display: unset;
                text-align: center;
            }


            .gig-preview-details {
                .title {
                    display: unset;
                }

                .tags {
                    font-size: rem(15px);
                    margin-block-end: 11px;
                    display: unset;
                    color: $dark-clr-4;

                    &.placeholder {
                        color: lighten($dark-clr-3, 10%);
                    }
                }
            }

        }

    }

    @include for-narrow-layout {
        grid-template-columns: minmax(auto, 700px) 1fr;
        padding-inline: rem(30px);
        column-gap: 6.375rem;
        row-gap: rem(20px);
        margin-top: 3.125rem;

        .create-gig {
            place-items: start;

            .sub-heading {
                text-align: start;
            }

            .form-label {
                // min-width: 80%;
            }

            .package-options {
                // width: 80%;
                align-items: start;
            }

            .send {
                width: unset;
            }
        }

        .big-gig-preview {
            display: flex;
            flex-direction: column;
            box-shadow: none;
            top: rem(20px);
            place-self: start;

            img {
                width: 100%;
            }

            .gig-preview-details {
                flex-direction: column;
                align-items: unset;

                .description {
                    display: unset;
                    font-size: 1.0625rem;
                    color: $dark-clr-1;
                    font-weight: 100;
                }

            }

        }
    }

    @include for-large-layout {
        grid-template-columns: 1.5fr 1fr;
    }


}

.MuiList-root {
    .MuiButtonBase-root {

        &.Mui-selected,
        &.Mui-selected:hover {
            background-color: darken($light-clr1, 5%);
            color: $accent-clr;
        }
    }
}