.add-gig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(50px);
    margin-top: rem(50px);

    .create-gig {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: em(15px);

        .heading {
            color: $dark-clr-4;
            font-size: rem(32px);
        }

        .sub-heading {
            font-size: rem(23px);
            color: $dark-clr;
            font-weight: 400;
            margin-block-end: rem(20px);
        }

        .form-label {
            min-width: 80%;
            font-size: 1.3rem;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: em(7px);
            color: $dark-clr;
            margin-bottom: 5px;


            input {
                font-size: rem(20px);
                padding: em(7px);
                border: em(2px) solid lighten($dark-clr-3, 20%);
                border-radius: em(5px);

                &.days-input {
                    width: 10%;
                }

                &.price-input {
                    width: 13%;
                }

                &:focus-visible {
                    border: em(2px) solid lighten($dark-clr-3, 10%);
                    outline: 0;
                }
            }
        }

        .send {
            width: 100%;
            font-size: 1.3rem;
            background-color: $dark-clr;
            align-self: flex-end;
            margin-block-start: rem(10px);
            font-weight: 700;
            letter-spacing: em(-0.4px);
            padding: em(13px);
            border-radius: em(3px);
            transition: background-color 0.3s;

            &:hover {
                background-color: $accent-clr;
            }
        }
    }

    .big-gig-preview {
        width: 60%;
        position: sticky;
        top: 10vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-self: center;
        border: em(2px) solid $dark-clr-2;
        padding: em(14px) em(24px);
        gap: em(10px);

        .preview-heading {
            text-align: center;
            color: $dark-clr-1;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: em(-1px);
        }

        img {
            width: 100%;
            object-fit: cover;
            max-height: 300px;
        }

        .gig-heading {
            font-size: 1.3rem;
            color: black;
            margin-block-end: em(8px);
        }

        .gig-preview-details {
            display: grid;
            gap: em(10px);

            .detail-container {
                display: grid;
                margin-block: em(7px);
                font-size: 1.2rem;

                .title {
                    font-weight: 700;
                    font-size: 1.3rem;
                }
            }
        }
    }
}