@import url(react-responsive-carousel/lib/styles/carousel.min.css);

.gig-details {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: space-around;
    margin-block-start: em(40px);

    &>*:not(.cta-container) {
        grid-column: 1;
    }



    .owner-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div {
            display: flex;
            align-items: center;

            .gig-title {
                margin-right: 8px;
            }

            .username {
                color: $dark-clr-4;
                font-weight: 400;
            }
        }

        .star-wrapper {
            display: flex;
            gap: em(3px);

            .owner-rate {
                font-weight: 700;
            }

            .owner-number-rates {
                color: $dark-clr-4;
                text-decoration: underline;
            }
        }
    }

    .owner-details-container {
        display: flex;
        gap: em(16px);
        flex-direction: column;
        margin-bottom: em(-13px);
        margin-block-end: em(27px);

        h1 {
            font-size: 28px;
        }

        .profile-container {
            display: flex;
            gap: rem(12px);
        }
    }

    .about-gig {
        margin-block-end: em(30px);

        .gig-about-title {
            padding-bottom: em(25px);
            line-height: em(28px);
            font-size: 1.25rem;
        }

        .gig-description {
            color: $dark-clr-1;
            line-height: em(24px);
            margin-bottom: em(23px);
        }
    }

    .about-seller {
        margin-bottom: em(29px);
        font-size: 1.25rem;
        line-height: 28px;
    }

    .carousel-container {
        position: relative;
        margin-bottom: 1.875rem;
        max-width: 740px;

        .carousel {
            position: static;
            width: 100%;

            &.carousel-slider {
                height: rem($details-carousel-height);
                max-width: $details-carousel-width;

                .slide {
                    background-color: $light-clr1;

                    img {
                        height: $details-carousel-height;
                        object-fit: contain;
                        // object-fit: cover;
                    }
                }
            }

            .arrow {
                @include gallery-btn;
                top: calc($details-carousel-height / 2 - $arrow-btn-size / 2);
            }

            .next-btn {
                right: em(- $arrow-btn-size / 2);
            }

            .prev-btn {
                left: em(- $arrow-btn-size / 2);
            }
        }
    }

    .thumbs-wrapper {
        margin: 20px 0;


        .thumbs {

            .thumb {
                height: rem(60px);
                border: 0;
                filter: blur(0.6px);
                opacity: 0.5;
                cursor: pointer;

                &.selected {
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }


    @include for-small-layout {}

    @include for-narrow-layout {
        grid-template-columns: 1fr;
        grid-auto-flow: row;

        .cta-container {
            grid-column: 1/-1;
            grid-row: 3;
            width: unset;
            justify-self: unset;
            position: unset;
            top: unset;
        }

        .carousel-container {
            max-width: unset;

            .carousel {

                &.carousel-slider {
                    max-width: unset;

                    .slide {

                        img {
                            object-fit: contain;
                        }
                    }
                }

            }
        }
    }

    @include for-normal-layout {
        grid-template-columns: 1.5fr 1fr;

        .cta-container {
            grid-column: 2;
            grid-row: 2;
            position: sticky;
            top: 12vh;
            justify-self: end;
            width: em(412px);
        }

        .carousel-container {
            max-width: rem(740px);

            .carousel {
                width: 100%;

                &.carousel-slider {
                    height: rem($details-carousel-height);
                    max-width: $details-carousel-width;

                    .slide {

                        img {
                            height: $details-carousel-height;
                            object-fit: cover;
                        }
                    }
                }

            }
        }


    }

    @include for-large-layout {}

    @include for-xl-layout {
        padding-inline: rem(32px);
    }

}