@import url(react-responsive-carousel/lib/styles/carousel.min.css);

.gig-details {
    display: grid;
    grid-template-columns: rem(750px) rem(435px);
    justify-content: space-around;

    &>*:not(.call-to-action) {
        grid-column: 1;
    }

    img {
        margin: 0;
    }

    .gig-title {
        // padding-bottom: rem(16px);
    }

    .owner-details {
        h3 {
            padding: em(8px) em(8px) em(8px) 0;
        }

        .star-wrapper {
            display: flex;
            gap: em(3px);
        }
    }

    .owner-details-container {
        display: flex;
        gap: em(16px);
        flex-direction: column;
        margin-bottom: em(-13px);
        margin-block-end: em(27px);

        .profile-container {
            display: flex;
            gap: rem(12px);
        }
    }

    .about-gig {

        .gig-about-title {
            padding-bottom: em(25px);
            line-height: em(28px);
        }

        .gig-description {
            color: $dark-clr-1;
            line-height: em(24px);
        }
    }


    .carousel {
        padding-inline: em(25px);
        width: 100%;

        .arrow {
            z-index: 2;
            display: grid;
            place-items: center;
            border-radius: 50%;
            width: $arrow-btn-size;
            height: $arrow-btn-size;
            font-size: em(18px);
            position: absolute;
            top: calc(50% - $arrow-btn-size / 2);
            background: $light-clr;
            box-shadow: $dark-clr-1 0 em(1px) em(3px) 0;
            color: $dark-clr;
        }

        .next-btn {
            right: em(2px);
        }

        .prev-btn {
            left: em(2px);
        }
    }

}