@import url(react-responsive-carousel/lib/styles/carousel.min.css);

.gig-details {
    display: grid;
    justify-content: space-around;

    .bread-crumbs {
        display: none;
    }

    .cta-container {
        grid-column: 2;
        grid-row: 4;
        position: static;
        width: 100%;
        margin-block-end: rem(42px);
    }

    .owner-details-container {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column-reverse;
        margin-block-end: em(27px);

        &>*:not(.carousel-container) {
            padding-inline: rem(12px);
            margin-block-end: em(15px);
        }

        .owner-details {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            column-gap: rem(18px);

            .star-wrapper {
                height: rem(18px);

                &>* {
                    height: 100%;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .user-container {
                display: flex;
                align-items: center;
                gap: em(8px);

                .username {
                    height: rem(18px);
                    color: $dark-clr-4;
                    font-weight: 400;
                }

            }

            .star-wrapper {
                display: flex;
                gap: em(3px);

                .owner-rate {
                    font-weight: 700;
                }

                .owner-number-rates {
                    color: $dark-clr-4;
                    text-decoration: underline;
                    padding-right: 7px;
                }

                .divider {
                    color: $light-clr2
                }

                .queue {
                    color: $dark-clr-4;
                    padding-left: 7px;
                }
            }
        }

        h1 {
            font-size: 28px;
            line-height: 36px;
        }

        .profile-container {
            display: flex;
            gap: rem(12px);
            background-color: $light-clr1;
            border-bottom: 1px solid $light-clr5;
            padding-block: em(10px);
        }
    }





    .about-gig {
        margin-block-end: em(30px);

        .gig-about-title {
            padding-bottom: em(25px);
            line-height: em(28px);
            font-size: 1.25rem;
        }

        .gig-description {
            color: $dark-clr-1;
            line-height: em(24px);
            margin-block-end: em(23px);
        }
    }

    .about-seller {
        margin-block-end: em(29px);
        font-size: 1.25rem;
        line-height: 28px;
    }

    .carousel-container {
        grid-row: 2;
        position: relative;
        width: 100%;
        max-width: $details-carousel-width;
        height: $details-carousel-height-mobile;

        &.hide {
            opacity: .2;
        }

        .carousel {
            position: static;
            width: 100%;

            &.carousel-slider {
                max-width: $details-carousel-width;

                .slide {
                    background-color: $light-clr1;

                    img {
                        height: $details-carousel-height-mobile;
                        object-fit: cover;
                    }
                }
            }

            .arrow {
                width: auto;
                height: auto;
                padding: 0;
                border-radius: unset;
                background-color: transparent;
                box-shadow: none;
                font-size: 40px;
                position: absolute;
                color: white;
                text-shadow: 1px 1px 15px $dark-clr-1;
                top: calc($details-carousel-height-mobile / 2 - $arrow-btn-size / 2);

            }

            .next-btn {
                right: em(5px);
                z-index: 2;
            }

            .prev-btn {
                left: em(5px);
                z-index: 2;
            }
        }
    }

    .thumbs-wrapper {
        margin: rem(7px) 0;

        .thumbs {
            display: none;

            .thumb {
                height: rem(60px);
                border: 0;
                filter: blur(0.6px);
                opacity: 0.5;
                cursor: pointer;

                &.selected {
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }


    @include for-small-layout {
        margin-block-start: em(40px);
        grid-auto-flow: row;
        padding-inline: 0;

        .bread-crumbs {
            display: flex;
        }

        .cta-container {
            grid-column: 2;
            grid-row: 4;
            width: unset;
            justify-self: unset;
            position: unset;
            top: unset;
            margin-block-end: 32px;
        }

        .carousel-container {
            height: auto;
            max-width: unset;
            grid-row: 3;
            margin-block-end: 1.875rem;

            .carousel {

                .arrow {
                    @include gallery-btn;
                    text-shadow: none;
                    top: calc($details-carousel-height / 2 - $arrow-btn-size / 2);
                }

                .next-btn {
                    // right: em(5px);
                    right: calc(-1 * $arrow-btn-size / 2);
                }

                .prev-btn {
                    // left: em(5px);
                    left: calc(-1 * $arrow-btn-size / 2);
                }

                .thumbs-wrapper {
                    .thumbs {
                        display: block;
                    }
                }


                &.carousel-slider {
                    max-width: unset;

                    .slide {

                        img {
                            object-fit: contain;
                            height: $details-carousel-height;
                        }
                    }
                }

            }
        }

        .owner-details-container {
            grid-column: 2;
            flex-direction: column;

            &>*:not(.carousel-container) {
                padding-inline: unset;
                margin-inline: unset;
            }

            .profile-container {
                background-color: unset;
                border-bottom: unset;
                padding-block: unset;

                .owner-details {
                    grid-column: 1/-1;
                    flex-direction: row;
                    align-items: center;


                    .user-title,
                    .username {
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    @include for-narrow-layout {}

    @include for-normal-layout {
        padding-inline: em(32px);
        grid-template-columns: minmax(32px, 1fr) minmax(auto, 860px) minmax(auto, 500px) minmax(32px, 1fr);

        &>*:not(.cta-container) {
            grid-column: 2;
        }

        .cta-container {
            grid-column: 3;
            grid-row: 2;
            position: sticky;
            top: rem(20px);
            justify-self: end;
            width: em(412px);
        }

        .carousel-container {
            max-width: $details-carousel-width;



            .carousel {
                width: 100%;

                &.carousel-slider {
                    max-width: $details-carousel-width;

                    .slide {
                        img {
                            height: $details-carousel-height;
                            object-fit: cover;
                        }
                    }
                }

            }
        }

        .owner-details-container {
            grid-column: 1/-1;

            .profile-container {
                .owner-details {
                    flex-direction: column;
                    align-items: start;
                    column-gap: unset;
                }
            }
        }
    }

    @include for-large-layout {
        padding-inline: em(32px);
        grid-template-columns: minmax(32px, 1fr) minmax(auto, 760px) minmax(auto, 600px) minmax(32px, 1fr);
    }

    @include for-xl-layout {
        padding-inline: em(32px);
    }

}