.home {
    .title-slide {
        font-size: rem(32px);
        margin-block-start: rem(105px);
        padding-block-end: rem(24px);
        font-weight: 1000;
        letter-spacing: em(-1px);
        line-height: rem(38.4px)
    }
}