.home {
    .title-slide {
        font-size: rem(32px);
        margin-block-start: rem(99px);
        padding-block-end: rem(24px);
        font-weight: 1000;
        letter-spacing: em(-1px);
        line-height: rem(38.4px)
    }


    .slider-home {
        max-width: 83vw;
        justify-self: center;

        // border: 1px solid yellowgreen;

        .slick-slider {
            .slick-slide {

                &>div {
                    margin: 0 em(7px);
                }

                img {
                    transition: opacity 0.4s;

                    &:hover {
                        opacity: 0.85;
                    }
                }
            }

            .gallery-btn {
                padding: 0;
                top: calc($card-carousel-height / 2 - $arrow-btn-size / 2);

                &.next {
                    right: calc(-1 * $arrow-btn-size / 2);
                }

                &.prev {
                    left: calc(-1 * $arrow-btn-size / 2);
                }
            }
        }
    }


    .categories-section {
        padding-block-start: rem(96px);
        padding-block-end: rem(43px);
        margin-block-end: rem(30px);

        h2 {
            margin-block-end: 40px;
            padding-block-end: 24px;
            font-size: rem(32px);
            line-height: 120%;
            color: $dark-clr;
            font-weight: 900;
        }

        .categories-list {
            flex-wrap: wrap;
            position: relative;
            text-align: center;
            cursor: pointer;

            .category {
                position: relative;
                text-align: center;
                margin-block-end: rem(55px);
                width: 20%;

                img {
                    max-width: rem(48px);
                    height: rem(48px);
                    display: block;
                    margin: 0 auto;
                }

                &::after {
                    content: "";
                    display: block;
                    width: rem(48px);
                    height: rem(2px);
                    background-color: $trusted-by-clr;
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.3s;
                }

                &:hover::after {
                    width: rem(96px);
                    background-color: $accent-clr;
                }

                p {
                    margin-top: rem(8px);
                    color: $dark-clr1;
                }
            }
        }
    }

    @include for-mobile-layout {
        .title-slide {
            margin-top: rem(24px);
            padding-block-end: rem(20px);
            font-size: rem(28px);
            line-height: 130%;
        }

        .slider-home {
            max-width: 88vw;
        }

        .categories-section {
            .categories-list {
                .category {
                    margin-block-end: 2.8375rem;
                    margin-block-end: 2.8375rem;
                    font-size: rem(14px);
                }
            }
        }
    }

    @include for-small-layout {
        .slider-home {
            max-width: 88vw;
            justify-self: center;
            // border: 1px solid red;
        }
    }

    @include for-narrow-layout {
        .slider-home {
            max-width: 91vw;
            // border: 1px solid pink;
        }
    }

    @include for-normal-layout {
        .slider-home {
            max-width: 93vw;
            // border: 2px solid rgb(177, 18, 135);
        }
    }

    @include for-large-layout {
        .slider-home {
            max-width: 94vw;
            justify-self: unset;
            // border: 2px solid rgb(18, 111, 177);
        }
    }


}