.home {
    .title-slide {
        font-size: rem(32px);
        margin-block-start: rem(105px);
        padding-block-end: rem(24px);
        font-weight: 1000;
        letter-spacing: em(-1px);
        line-height: rem(38.4px)
    }


    .slider-home {
        max-width: 95vw;
        // Smaller MQs will hold:
        // max-width: 90vw;
        // justify-self: center;

        .slick-slider {
            .slick-slide {

                &>div {
                    margin: 0 em(7px);
                }

                img {
                    transition: opacity 0.4s;

                    &:hover {
                        opacity: 0.85;
                    }
                }
            }

            .gallery-btn {
                padding: 0;
                top: calc($card-carousel-height / 2 - $arrow-btn-size / 2);

                &.next {
                    right: calc(-1 * $arrow-btn-size / 2);
                }

                &.prev {
                    left: calc(-1 * $arrow-btn-size / 2);
                }
            }
        }
    }

}