.orders-page {
    min-height: 75vh;
    grid-template-rows: auto 1fr;
    background-color: $user-bgclr;
    align-items: start;
    justify-items: center;

    .orders-heading {
        @include logo;
        font-size: rem(28px);
        letter-spacing: rem(-0.6px);
        margin-block: 1.1rem;
    }

    .empty-tray {
        font-size: 7rem;
        margin-block: 3.5rem 0.5rem;
    }

    .logo {
        @include logo;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: transparent;
    }

}