.review-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(50px);
    margin-top: rem(50px);

    .add-review {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: em(15px);

        .heading {
            color: $dark-clr-4;
            font-size: rem(32px);
        }

        .sub-heading {
            font-size: rem(23px);
            color: $dark-clr;
            font-weight: 400;
            margin-block-end: rem(20px);
        }

        label {
            font-size: 1.3rem;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: em(7px);
            color: $dark-clr;
            margin-bottom: 5px;
        }

        .txt-label {
            width: 100%;
            position: relative;

            textarea {
                resize: none;
                font-size: 1.2rem;
                font-family: inherit;
                font-weight: 400;
                height: rem(275px);
                padding: em(15px);
                color: $dark-clr;
                border: em(2px) solid lighten($dark-clr-3, 20%);
                border-radius: em(5px);

                &:focus-visible {
                    border: em(2px) solid lighten($dark-clr-3, 10%);
                    outline: 0;
                }
            }

            .letter-count {
                position: absolute;
                bottom: em(5px);
                right: em(15px);
                font-size: rem(14px);
                color: darken($dark-clr-2, 10%);
                font-weight: 200;
            }
        }

        .rate-label {
            .stars {
                .fa-star {
                    font-size: 1.7rem;
                    cursor: pointer;

                    &.fa-solid {
                        color: $accent-clr;
                    }
                }
            }
        }

        .send {
            width: 100%;
            font-size: 1.3rem;
            background-color: $dark-clr;
            align-self: flex-end;
            margin-block-start: rem(10px);
            font-weight: 700;
            letter-spacing: em(-0.4px);
            padding: em(13px);
            border-radius: em(3px);
            transition: background-color 0.3s;

            &:hover {
                background-color: $accent-clr;
            }
        }
    }

    .big-order-preview {
        width: 60%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-self: center;
        border: em(2px) solid $dark-clr-2;
        padding: em(14px) em(24px);
        gap: em(10px);

        .preview-heading {
            text-align: center;
            color: $dark-clr-1;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: em(-1px);
        }

        .gig-heading {
            font-size: 1.3rem;
            color: black;
            margin-block-end: em(8px);
        }

        .order-details {
            display: grid;

            .detail-container {
                display: grid;
                margin-block-end: em(10px);
                font-size: 1.2rem;

                .title {
                    font-weight: 700;
                    font-size: 1.3rem;
                }
            }
        }
    }

}