.selling-container {
    padding-block-end: 2.6rem;
    background-color: $home-light-clr;
    // max-height: 667.188px;

    .selling {
        display: flex;
        max-height: rem(667px);
        padding-block: rem(96px);
        margin: 0;
        gap: 12%;

        .left-info {
            max-width: rem(489px);
            max-height: rem(475px);

            h2 {
                font-size: 2rem;
                font-weight: 700;
                text-align: start;
                line-height: 2.4rem;

                color: $dark-clr;
                padding-block-end: 24px;
            }
        }

        .right-info {
            flex: 1;
            align-self: center;
        }
    }
}