.payment-container {
    h6 {
        font-size: 1rem;
    }

    .input {
        outline: none;
        border: none;
        padding: 0 em(4px);
        height: em(42px);
        border: em(1px) solid $light-clr2;
        border-radius: em(4px);
        padding-left: 1rem;
        margin-top: 8px;
        color: $dark-clr;
        font-size: 1rem;
    }

    .billing-info-wrapper {
        display: flex;
        flex-direction: column;
        border: em(1px) solid $modal-underline-clr;
        border-radius: em(4px);
        margin-bottom: em(24px);

        .billing-info-header {
            line-height: 1.5rem;
            padding: 1rem;
            padding-top: em(23px);
            padding-bottom: em(23px);
            background-color: $light-clr3;
            border-bottom: em(1px) solid $light-clr4;

        }

        .user-details-wrapper {
            color: $dark-clr-1;
            ;
            display: flex;
            flex-direction: column;
            gap: em(16px);
            justify-content: space-between;
            line-height: em(24px);
            text-align: left;
            padding: em(20px);

            .username {
                font-weight: 600;
            }
        }
    }

    .payment-methods-wrapper {
        .credit-card-details-wrapper {
            padding: 0 1.125em 1.5em;
            border-bottom: em(1px) solid $light-clr4;
        }

        .credit-card-details {
            .card {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: em(8px);
                margin-block-end: em(18px);
                gap: em(16px);


                &>* {
                    width: 50%;

                    &>* {
                        width: 100%;
                    }
                }
            }

            .card-number {
                margin-block-end: em(19px);
                flex-wrap: wrap;

                .credit-card-input-wrapper {
                    display: flex;
                    flex-wrap: nowrap;
                    border: em(1px) solid $light-clr2;
                    border-radius: em(4px);
                    flex-basis: 100%;
                    align-items: center;
                    height: em(42px);
                    // margin-top: em(8px);
                    align-items: center;

                    input {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        border: none;
                    }

                    .card-logo {
                        display: inline-block;
                        height: 1.3rem;
                        width: 1.3rem;
                        background: white no-repeat;
                        border: none;
                        background-position-y: center;
                        margin-left: 1rem;
                    }
                }


            }
        }

    }

    // .option{
    //     padding-bottom: 1rem;
    // }
    .payments-option {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        height: em(63px);
        align-items: center;
        flex-wrap: wrap;

        label {
            display: flex;
            gap: em(10px);
            cursor: pointer;
        }
    }

    .payments-option-1 {
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        height: em(63px);
        align-items: center;
        flex-wrap: wrap;

        label {
            display: flex;
            gap: em(10px);
            cursor: pointer;
        }
    }

}