.payment-container {
    h6 {
        font-size: 1rem;
    }

    .input {
        outline: none;
        border: none;
        padding: 0 em(4px);
        height: em(42px);
        margin-top: 10px;
        border: 1px solid #c5c6c9;
        border-radius: em(4px);
        width: em(340px);
        padding-left: 1rem;

    }

    .billing-info-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid $modal-underline-clr;
        border-radius: 4px;
        margin-bottom: 24px;

        .billing-info-header {
            line-height: 1.5rem;
            padding: 1rem;
            padding-top: em(23px);
            padding-bottom: em(23px);
            background-color: $light-clr3;
            border-bottom: em(1px) solid $light-clr4;

        }

        .user-details-wrapper {
            color: $dark-clr-1;
            ;
            display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: space-between;
            line-height: 24px;
            text-align: left;
            padding: 20px;

            .username {
                font-weight: 600;
            }
        }
    }

    .payment-methods-wrapper {
        .credit-card-details-wrapper {
            padding: 24px 18px;
            border-bottom: 1px solid $light-clr4;
        }

        .credit-card-details {
            .card {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 16px;
                margin-top: 8px;
            }
        }

        .credit-card-details .card-number {
            .credit-card-input-wrapper {
                display: flex;
                flex-wrap: nowrap;
                border: em(1px) solid #c5c6c9;
                border-radius: em(4px);
                flex-basis: 100%;
                align-items: center;
                height: em(42px);
                margin-top: em(10px);
                align-items: center;
                gap: em(18px);

                input {
                    border: none;
                }

                .card-logo {
                    display: inline-block;
                    height: 2em;
                    width: 2em;
                    background: white no-repeat;
                    border: none;
                    background-position-y: center;
                    margin-left: 1rem;
                }
            }


        }

    }

    .payments-option {
        display: flex;
        padding: em(16px);
        height: em(63px);
        align-items: center;
        flex-wrap: wrap;

        label {
            display: flex;
            gap: em(10px);
        }
    }
}