/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}


@mixin for-xs-small-layout {
    @media (min-width: $xs-mobile-breakpoint) {
        @content;
    }
}

@mixin for-small-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $narrow-breakpoint) {
        @content;
    }
}

@mixin for-extraNarrow-layout {
    @media (min-width: $extraNarrow-breakpoint) {
        @content;
    }
}

@mixin for-wideNormal-layout {
    @media (min-width: $wideNormal-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $normal-breakpoint) {
        @content;
    }
}

@mixin for-large-layout {
    @media (min-width: $large-breakpoint) {
        @content;
    }
}

@mixin for-xl-layout {
    @media (min-width: $xl-breakpoint) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin owner-profile-img($type: regular) {
    // display: inline-flex;
    border-radius: 50%;
    cursor: pointer;


    @if $type ==regular {
        width: em(24px);
    }

    @else if $type ==meduim {
        width: em(64px);
    }

    @else if $type ==large {
        width: em(96px);
    }
}

//Cmp mixins
@mixin btn($type: regular, $bg-color: $accent-clr, $color: $light-clr) {
    background-color: $bg-color;
    color: $color;
    padding: em(10px) em(16px);
    border-radius: em(5px);

    @if $type ==pill {
        display: block;
        border: 1px solid $color;
        font-size: rem(14px);
        line-height: rem(25px);
        border-radius: 3rem;
        padding: 1px 12px 0;
        transition: background-color 0.5s, color 0.7s;


        &:hover {
            color: $dark-clr;
            background-color: $color;
        }
    }

    @if $type ==light {
        color: $bg-color;
        background-color: $color;
        transition: background-color 0.4s;

        &:hover {
            color: $color;
            background-color: $bg-color;
        }
    }
}


@mixin search-bar($type: regular) {
    font-size: 1rem;
    width: min(100%, 34.375em);
    height: 100%;
    padding: 10px 2px 10px 16px;
    border: 1px solid #e5e5e7;
    border-inline-end: 0;
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    outline: 0;
}

@mixin logo($clr: $dark-clr) {
    font-family: Macan-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 1000;
    font-size: rem(38px);
    letter-spacing: rem(-2.8px);
    color: $clr;
    text-shadow: 1px 0 $clr;
    cursor: pointer;

    .dot {
        color: $accent-clr;
        text-shadow: 0 0;
    }
}

@mixin gallery-btn($where: gallery, $type: regular) {
    z-index: 2;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 1.125em;
    position: absolute;
    top: calc(50% - 24px);
    background: #fff;
    box-shadow: #62646a 0 0.0625em 0.1875em 0;
    color: #404145;

    @if $type ==next {
        right: -17px;
    }

    @if $type ==prev {
        left: -17px;
    }

    @if $where ==detail {
        right: 0.125em;
    }
}