// Colors
$clr1: #2e3bce;
$clr2: #6d08da;
$clr3: #574f7d;
$clr4: #f2a1e0;
$clr5: #f26e93;
$clr6: #fff;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;